.app_login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.button_con_login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login_div {
    background-color: white;

    padding: 3rem;
    box-shadow: 0 5px 30px 0 rgba(55, 84, 170, 0.16);
    border-radius: 8px;
}

